<mat-card class="registration-card">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
          <mat-error *ngIf="submitted && f['email'].errors">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Invalid email address</div>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="submitted && f['password'].errors">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Sensor ID</mat-label>
          <input matInput formControlName="sensorId">
          <mat-error *ngIf="submitted && f['sensorId'].errors">
            <div *ngIf="f['sensorId'].errors['required']">Sensor ID is required</div>
          </mat-error>
        </mat-form-field>
  
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>